// This example shows some basic mixins I reuse often within sass files.

@mixin content-color($color) {
	h1, h2, h3, h4, h5, h6, p, li, blockquote, a { color: $color; }
}

@mixin h1_line($color: #ddd, $thickness: 1px, $pad: 5px, $marg: 5px) {
	border-bottom: $thickness solid $color;
	margin-bottom: $marg;
	padding-bottom: $pad;
}

@mixin transition_opacity($sec: 0.25s) {
	transition: opacity $sec ease-in-out;
	-moz-transition: opacity $sec ease-in-out;
	-webkit-transition: opacity $sec ease-in-out;
}