// This example shows some of our basic "base layout" elements and overrides. You'll see basic sass inheritance as
// well as the basics for how I handle responsive grid pops.


/* ------- Global Styles --------- */
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object { display: block; outline: none; }
text, td , body { color: #000; }

body { background: $dark-navy; }

/* ------- Text --------- */
h1, h2, h3, h4, h5, h6 {
	color: $color-headlines;
	font-family: $font-primary;
	small {
		margin-left: 12px;
		padding-left: 12px;
		border-left: solid 1px $color-lines;
	}
}
h1 {
	color: #252525;
	font-family: $font-secondary;
	font-size: 32px;
	font-weight: $font-secondary-regular;
}
h2 {
	color: #3c947e;
	font-size: 18px;
	font-weight: $font-primary-semi;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
h3 {
	font-size: 15px;
	font-weight: $font-primary-semi;
}
h4 {
	font-size: 13px;
	font-weight: $font-primary-semi;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
p, li, blockquote, label {
	color: $color-text;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: $font-primary-regular;
	line-height: 1.6;
	@media screen and (max-width: $responsive-small) { font-size: 13px; }
}
p {
	margin-bottom: 15px;
	&.alerts {
		background: $off-white;
		font-style: italic;
		padding: 25px 35px 25px 115px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 80px;
			background: #daba55 url(../img/bell.png) no-repeat center center;
		}
	}
}
blockquote {
	position: relative;
	margin: 32px 0;
	padding: 32px 56px;
	border: solid 1px $color-lines;
	border-left: none;
	border-right: none;
	color: $color-headlines;
	font-family: $font-secondary;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	&:before {
		content: '“';
		display: block;
		position: absolute;
		top: -18px;
		left: 0;
		right: 0;
		width: 33px;
		height: 33px;
		margin: 0 auto;
		padding: 0 8px;
		background: $white;
		border: solid 1px $color-lines;
		color: $dark-gray;
		font-size: 50px;
		line-height: 63px;
		text-indent: -12px;
	}
	&:after {
		content: '”';
		display: inline-block;
		margin-left: -6px;
	}
}
hr { border-color: $color-lines; }
ul, ol {
	li { }
	&.pagination {
		padding-top: 32px;
		border-top: solid 1px $color-lines;
		li.current a, li.current a:hover { background: $color-primary; }
	}
}

/* ------- Links --------- */
a {
	color: $color-primary;
	&:hover, &:focus { color: $color-primary; }
	&.more {
		font-size: 13px;
		font-weight: $font-primary-semi;
		text-transform: uppercase;
	}
}

/* ------- Buttons --------- */
button, .button {
	display: inline-block;
	position: relative;
	padding: 11px 20px;
	background: $color-tertiary;
	background: -moz-linear-gradient(top, #2c79b8 0%, #2463a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c79b8), color-stop(100%,#2463a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2c79b8 0%,#2463a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2c79b8 0%,#2463a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2c79b8 0%,#2463a8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2c79b8 0%,#2463a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c79b8', endColorstr='#2463a8',GradientType=0 ); /* IE6-9 */
	border: none;
	border-radius: 2px;
	transition: all 0.15s ease;
	color: $white;
	font-family: $font-primary;
	font-size: 12px;
	font-weight: $font-primary-regular;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	&:hover, &:focus {
		background: #195288;
		background: -moz-linear-gradient(top, #23669d 0%, #195288 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23669d), color-stop(100%,#195288)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #23669d 0%,#195288 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #23669d 0%,#195288 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #23669d 0%,#195288 100%); /* IE10+ */
		background: linear-gradient(to bottom, #23669d 0%,#195288 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23669d', endColorstr='#195288',GradientType=0 ); /* IE6-9 */
		color: $white;
		text-decoration: none;
	}
	&.light {
		background: $white;
		border: 1px solid $color-lines;
		color: #000;
		&:hover, &:focus {
			background: hsla(0, 0%, 90%, 1);
			border-color: hsla(0, 0%, 90%, 1);
			color: #000;
		}
	}
	&.dark {
		background: $black;
		border: 1px solid $black;
		color: $white;
		&:hover, &:focus {
			background: lighten($black, 7%);
			border-color: lighten($black, 7%);
		}
	}
	&.button-group {
		margin: 0;
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-of-type) {
			margin-left: -3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			&:not(:last-of-type) { border-radius: 0; }
		}
		&.active { @extend .button.dark; }
	}
}

/* ------- Images --------- */
a, a img { border: 0; outline: none; }

/* ------- Forms --------- */
form {
	margin: 0;
	padding: 20px 0;
	position: relative;
	.alert-box {
		float: left;
		width: 100%;
		&.alert-warning {
			background-color: #f7d6d6;
			border-color: rgba(170, 13, 16, 0);
			color: #aa0d10;
			float: right;
			width: auto;
			border-radius: 2px;
			margin: 0 0px;
			font-weight: bold;
			font-size: 14px;
			padding: 8px 20px;
		}
		&.success {
			background: #E6F7BB;
			border: solid 1px #D0D894;
		}
	}
}

