{#

	This example shows a complex twig view file leveraging multiple blocks for a medical practice site using
	query data logic for a google map implementation.

	There are several different queries happening that show how things are merged together to get merged results
	and then looped over in different ways.

#}

{% extends "layouts/inside_1col" %}

{% block bodyClass %}default location_home{% endblock %}

{% block top %}

	{% set location_cities = [] %}
	{% set eles = craft.entries.section('locations').status('live').limit(9000).order('title').find() %}
	{% nav ele in eles %}
		{% set location_city = ele.city %}
		{% set location_cities = location_cities|merge({ ('key' ~ location_city): location_city }) %}
	{% endnav %}

	<div id="map"></div>

	<section class="topp location_topp">
		<div class="padded">
			{{ entry.topContent }}

			<div class="row">
				<div class="small-12 large-8 columns">
					<select id="locations_all_pop" class="locations_all" name="locations_all">
						<option value="all">All</option>
						{% for loc in location_cities|sort %}
							<option value="{{ loc }}">{{ loc }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="small-12 large-4 columns">

					<a class="dropdown button dd_button" data-dropdown="location_filter_type" href="#">Filter By Type</a>
					<div id="location_filter_type" class="f-dropdown content" data-dropdown-content>
						<form class="custom">

							{% for block in defaults.locationTypes %}
								{% if block.locationType is defined and block.locationType is not empty %}
									<label for="labels_{{ loop.index }}"><input class="filt_checkbox" type="checkbox" id="labels_{{ loop.index }}" name="location_filts" data-cat="{{ block.locationType }}" value="{{ block.locationType }}" /><span class="custom checkbox">&nbsp;</span> {{ block.locationType }}
									<br/>
								{% endif %}
							{% endfor %}

						</form>
					</div>

				</div>
			</div>

		</div>
	</section>
{% endblock %}

{% block main %}
	<div id="legend_container" style="display:none;">
		<div id="legend">
			<div class="legend_filter">
				<div class="legend_lbl">
					Filter
				</div>
			</div>

			{% for block in defaults.locationTypes %}
				{% if block.locationType is defined and block.locationType is not empty %}
					<div class="legend_line">
						<div class="legend_pin">
							<img class="filt" data-cat="{{ block.locationType }}" src="/assets/img/map_pin{{ block.locationPin }}.png" />
						</div>
						<div class="legend_lbl">
							{{ block.locationType }}
						</div>
					</div>
				{% endif %}
			{% endfor %}

			<div class="legend_reset">
				<div class="legend_lbl filt_reset">
					Reset
				</div>
			</div>
		</div>
	</div>

	<div class="row about_body">
		{% for block in entry.pageContent %}
			<div class="columns small-12 about_block">
				{% include 'blockTypes/' ~ block.type %}
			</div>
		{% endfor %}
	</div>

	<div class="row">
		<table class="stack" width="100%">
			<thead>
				<tr>
					<th>Location</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Type</th>
					<th colspan="2"></th>
				</tr>
			</thead>

			<tbody>
			{% set locs = craft.entries.section('locations').status('live').limit(9000).order('title').find() %}
			{% for loc in locs %}

				<tr class="loc_row" data-locidx="{{ loop.index0 }}" data-category="{{ loc.locationType }}" data-category2="{{ loc.city }}">
					<td>
						<div class="loc_title"><a href="{{ loc.url }}">{{ loc.title }}</a></div>
					</td>
					<td>
						{{ loc.streetAddress }}, {{ loc.city }} {{ loc.zipCode }}
					</td>
					<td>
						<div class="loc_tel"><a class="tel" href="tel:{{ loc.phoneNumber }}">{{ loc.phoneNumber }}</a></div>
					</td>
					<td>
						{{ loc.locationType }}
					</td>
					<td class="loc_actions">
						<a href="javascript:showonmap({{ loop.index0 }});"><div class="map_view_btn">view on map</div></a>
						<a href="{{ loc.url }}"><div class="map_view_loc_btn">location details</div></a>
					</td>
				</tr>

			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block sidebar %}
{% endblock %}

{# {% block bottom %}{% endblock %} #}

{% block scripts %}

	{% if settings.googleMapApiKey is defined and settings.googleMapApiKey is not empty %}

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
			google.maps.event.addDomListener(window, 'load', init);
			var gmarkers = [];
			var infowindows =[];
			var map;

			function init() {
				var mapOptions = {
					maxZoom: 15,
					minZoom: 7,
					mapTypeControl: false,
					streetViewControl: false,
					scrollwheel: false,
					zoomControlOptions: {
						style: google.maps.ZoomControlStyle.SMALL,
						position: google.maps.ControlPosition.RIGHT_TOP
					},
					{% if settings.mapGeoCenter is defined and settings.mapGeoCenter is not empty %}
					center: new google.maps.LatLng({{ settings.mapGeoCenter }}),
					{% else %}
					center: new google.maps.LatLng(32.935516, -97.108444),
					{% endif %}
					styles: [{"featureType":"all","elementType":"all","stylers":[{"visibility":"on"},{"hue":"#80ff00"},{"saturation":"-8"},{"weight":"1.10"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#97c6dc"},{"visibility":"on"}]}]
				};

				var mapElement = document.getElementById('map');
				map = new google.maps.Map(mapElement, mapOptions);

				{% set eles = craft.entries.section('locations').status('live').limit(9000).order('title').find() %}
				{% nav ele in eles %}
				var cont = '{%- spaceless -%}

				<div class="map_popup">
					<div class="row">
						<div class="medium-5 column">
							{%- if ele.photo|length -%}
								{%- set img = { mode: 'crop', width: 265, height: 160, quality: 100, position: 'middle-center' } -%}
								<div class="map_photo">
									<a href="{{ ele.url }}"><img class="map_img" src="{{ ele.photo.first.getURL(img) }}" alt="{{ ele.title }}"></a>
								</div>
							{%- else -%}
								<div class="map_photo">
									<a href="{{ ele.url }}"><img class="map_img" src="/assets/img/location_default.png" alt="{{ ele.title }}"></a>
								</div>
							{%- endif -%}
							<div class="map_address">
								{%- if ele.streetAddress|length -%}
									{{ ele.streetAddress }}<br/>{{ ele.city }}, {{ ele.state }} {{ ele.zipCode }}<br/>
									{%- if ele.phoneNumber|length -%}
										Phone: {{ ele.phoneNumber }}<br/>
									{%- endif -%}
									{%- if ele.faxNumber|length -%}
										Fax: {{ ele.faxNumber }}<br/>
									{%- endif -%}
								{%- endif -%}
							</div>
						</div>
						<div class="medium-7 column map_info">
							<h3>{{- ele.title -}}</h3>
							{%- if ele.description|length -%}
								{{ ele.description|raw }}
							{%- else -%}
								{{ siteName }} {{ ele.title }} is committed to providing excellent medical care to all patients in a cost effective, compassionate and dignified manner.
							{%- endif -%}
							<h3 class="map_hours">Hours &amp; Appointments</h3>
							<div class="map_hours_text">{{- ele.hours -}}</div>
							{%- if ele.locationType|length > 0 -%}
								{%- for block in defaults.locationTypes -%}
									{%- if block.locationType == ele.locationType -%}
										{{- block.defaultHourText -}}
									{%- endif -%}
								{%- endfor -%}
							{%- else -%}
							{%- endif -%}
							<div class="map_actions">
								<a class="more_location_info" href="{{ ele.url }}">More Location Info</a>
							</div>
						</div>
					</div>
				</div>{%- endspaceless -%}';
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng({{ ele.geoAddress.lat }}, {{ ele.geoAddress.lng }}),
						map: map,
						icon: '/assets/img/map_pin{{ ele.pinColor|default('_blue') }}.png',
						category: '{{ ele.locationType|default('_blue') }}',
						category2: '{{ ele.city }}',
						idx: '{{ loop.index0 }}'
					});
					addM(marker, cont);
					gmarkers.push(marker);

					{% switch ele.locationType %}
						{% case "Office" %}
							marker.setVisible(true);
						{% case "Endoscopy Center" %}
							marker.setVisible(true);
						{% case "Hospital" %}
							marker.setVisible(false);
						{% case "Pediatric" %}
							marker.setVisible(false);
						{% case "Infusion Center" %}
							marker.setVisible(false);
						{% default %}
							marker.setVisible(true);
					{% endswitch %}

				{% endnav %}

					map.controls[google.maps.ControlPosition.RIGHT_TOP].push(document.getElementById('legend'));
					var listener = google.maps.event.addListener(map, "idle", function () {
					map.setZoom(11);

					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function (position) {
							initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
							map.setCenter(initialLocation);
						});
				 	}

					google.maps.event.removeListener(listener);
				});
				google.maps.event.addListener(map, 'click', function() {
					infowindow.close();
				});
			}

			function newCenter(marker) {
				map.setCenter(marker.position);
			}

			function addM(marker, msg) {
				var my_infowindow = new google.maps.InfoWindow({
					content: msg
				});
				infowindows.push(my_infowindow);
				marker.addListener('click', function() {
					closemarkers();
					my_infowindow.open(marker.get('map'), marker);
					highlight(marker.idx);
				});
			}

			function openM(id){
				google.maps.event.trigger(marker[id], 'click');
			}

			function closemarkers() {
				for (var i=0;i<infowindows.length;i++) {
					infowindows[i].close();
				}
			}

			function highlight(idx) {
				$("tr.loc_row").each(function () {
					$(this).removeClass('row_on');
				});
				$(".loc_row[data-locidx='" + idx + "']").addClass('row_on');
			}

			function showonmap(id) {
				google.maps.event.trigger(gmarkers[id], 'click');
				$("html, body").animate({ scrollTop: 0 }, "slow");
				$("tr.loc_row").each(function () {
					$(this).removeClass('row_on');
				});
				$(".loc_row[data-locidx='" + id + "']").addClass('row_on');
			}

			$( document ).ready(function() {

				$('.filt_checkbox').on('change', function() {

					var location = $('#locations_all_pop').val();

					for (i = 0; i < gmarkers.length; i++) {
						var marker = gmarkers[i];
						marker.setVisible(false);
						$(".loc_row").each(function() { $(this).hide(); });
					}
					var count_on = 0;

					$(".filt_checkbox:checked").each(function () {
						var category = $(this).attr('data-cat');

						for (i = 0; i < gmarkers.length; i++) {
							var marker = gmarkers[i];
							if (marker.category == category || category.length === 0) {

								// we also need to check if the location (Category2) piece is set to anything but 'all', if
								// it is, we only want to display those which match..

								if (location == "all") {
									marker.setVisible(true);
									$(".loc_row[data-category='" + marker.category + "']").each(function () {
										$(this).show();
									});
								} else {
									if (marker.category2 == location) {
										marker.setVisible(true);
										$(".loc_row[data-category='" + marker.category + "'][data-category2='" + marker.category2 + "']").each(function () {
											$(this).show();
										});
									}
								}

							}
						}
						count_on = count_on + 1;
					});

					if (count_on == 0) {
						for (i = 0; i < gmarkers.length; i++) {
							var marker = gmarkers[i];

							if (location == "all") {
								marker.setVisible(true);
								$(".loc_row").each(function() { $(this).show(); });
							} else {
								if (marker.category2 == location) {
									marker.setVisible(true);
									$(".loc_row[data-category='" + marker.category + "'][data-category2='" + marker.category2 + "']").each(function () {
										$(this).show();
									});
								}
							}
						}
					}

				});

				$('.filt').on('click', function() {
					var category = $(this).attr('data-cat');
					for (i = 0; i < gmarkers.length; i++) {
						var marker = gmarkers[i];
						if (marker.category == category || category.length === 0) {
							marker.setVisible(true);
						} else {
							marker.setVisible(false);
						}
					}
				});

				$('.filt_reset').on('click', function() {
					for (i = 0; i < gmarkers.length; i++) {
						var marker = gmarkers[i];
						marker.setVisible(true);
					}
				});

				$('#locations_all_pop').on('change', function() {

					var marker_id = $(this).val();
					if (marker_id) {

						if (marker_id == "all") {

							// show all first, then run type filter..
							for (i = 0; i < gmarkers.length; i++) {
								var marker = gmarkers[i];
								marker.setVisible(false);
								$(".loc_row").each(function() { $(this).hide(); });
							}
							var count_on = 0;

							$(".filt_checkbox:checked").each(function () {
								var category = $(this).attr('data-cat');
								for (i = 0; i < gmarkers.length; i++) {
									var marker = gmarkers[i];
									if (marker.category == category || category.length === 0) {
										marker.setVisible(true);
										$(".loc_row[data-category='" + marker.category + "']").each(function () {
											$(this).show();
										});
									}
								}
								count_on = count_on + 1;
							});

							if (count_on == 0) {
								for (i = 0; i < gmarkers.length; i++) {
									var marker = gmarkers[i];
									marker.setVisible(true);
									$(".loc_row").each(function () {
										$(this).show();
									});
								}
							}

						} else {

							// only show a specific city.. hide all, and then enable just this city.. this filter
							// further within city if checkboxes are on..

							// hide everything..
							for (i = 0; i < gmarkers.length; i++) {
								var marker = gmarkers[i];
								marker.setVisible(false);
								$(".loc_row").each(function() { $(this).hide(); });
							}
							var count_on = 0;
							var centered = 0;

							// show just these categories
							$(".filt_checkbox:checked").each(function () {
								var category = $(this).attr('data-cat');
								for (i = 0; i < gmarkers.length; i++) {
									var marker = gmarkers[i];
									if (marker.category == category || category.length === 0) {
										if (marker.category2 == marker_id) {
											marker.setVisible(true);

											$(".loc_row[data-category='" + marker.category + "'][data-category2='" + marker.category2 + "']").each(function () {
												$(this).show();
											});

											if (centered == 0) {
												newCenter(marker);
												centered = 1;
											}
										}
									}
								}
								count_on = count_on + 1;
							});

							// if there is no categories chosen, show them all..
							if (count_on == 0) {
								for (i = 0; i < gmarkers.length; i++) {
									var marker = gmarkers[i];
									if (marker.category2 == marker_id) {
										marker.setVisible(true);

										$(".loc_row[data-category2='" + marker_id + "']").each(function () {
											$(this).show();
										});

										if (centered == 0) {
											newCenter(marker);
											centered = 1;
										}

									}
								}
							} else {
							}

						}

					}

				});

			});

		</script>
	{% endif %}

	<style type="text/css">
		#map {
			width: 100%;
			height: 500px;
		}
	</style>

{% endblock %}
