{#
	This is an example of how I handle basic search result / CraftCMS implementation for search results.
#}

{% extends "layouts/inside_2col" %}

{% block bodyClass %}default about search_results{% endblock %}

{% block top %}
	{% if craft.request.getParam('q')|length %}
		<section class="hero" style="min-height: 240px !important; background-image: url({{ entry.heroImage.first.getURL() }});">
			<h1>{{ craft.request.getParam('q')[:1]|upper ~ craft.request.getParam('q')[1:] }} Search Results</h1>
			<div class="padded" style="bottom: -60px !important;">
				Here is everything we found that matches '{{ craft.request.getParam('q')[:1]|upper ~ craft.request.getParam('q')[1:] }}'...
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block main %}
	{% if craft.request.getParam('q')|length %}
		{% set query = craft.request.getParam('q') %}
		{% set entries = craft.entries.search(query).section('and, not forms, not slides').order('score') %}

		{% if entries|length %}
			<div class="search_results_count">{% if craft.request.getParam('q')|length %}The search term "{{craft.request.getParam('q')}}" found {% endif %}{{ entries|length }} results:</div>

			{% for entry in entries %}

				{% set type = entry.type.name %}
				{% set title = entry.title %}
				{% set snippet = '' %}
				{% set subtitle = '' %}
				{% set url = '' %}

				{% switch entry.type|default('') %}

					{% case 'staff' %}
						{% set subtitle = entry.section().name|default('Blog') %}
						{% set snippet %}
							{% if entry.body|length > 0 %}
									{% if entry.image.first|length %}
									{% set img = {
										mode: 'crop',
										width: 150,
										height: 150,
										quality: 100,
										position: 'top-center'
									} %}
									<div class="row staff_row">
										<div class="columns large-3">
											<div class="staff_image">
												<a href="{{ entry.url }}"><img class="staff_img" src="{{ entry.image.first.getURL(img) }}" alt="{{ entry.title }}"></a>
											</div>
										</div>
										<div class="columns large-9">
											<p>{{ entry.body|striptags|split(' ')|slice(0,50)|join(' ') }}...</p>
										</div>
									</div>
									{% else %}
										<p>{{ entry.body|striptags|split(' ')|slice(0,50)|join(' ') }}...</p>
									{% endif %}
							{% endif %}
						{% endset %}

					{% default %}
						{% set type = entry.type.name|default('Page') %}
						{% set subtitle = entry.parent.title|default('') %}
						{% set snippet %}
							{% if entry.pageContent.type('textBlock').limit(1)|length > 0 %}
								{% for block in entry.pageContent.type('textBlock').limit(1) %}
									<p>{{ block.text|striptags|split(' ')|slice(0,50)|join(' ') }}</p>
								{% endfor %}
							{% elseif entry.topContent|length > 1 %}
								<p>{{ entry.topContent|striptags|split(' ')|slice(0,50)|join(' ') }}...</p>
							{% elseif entry.description|length > 1 %}
								<p>{{ entry.description|striptags|split(' ')|slice(0,50)|join(' ') }}...</p>
							{% elseif entry.snippet|length > 1 %}
								<p>{{ entry.snippet|striptags|split(' ')|slice(0,50)|join(' ') }}...</p>
							{% endif %}
						{% endset %}

				{% endswitch %}

				<article class="row">
					<div class="columns medium-12">
						<h4><a href="{{ url|default(entry.url) }}">{{ title }}</a></h4>
						{{ snippet }}
						<div class="search-tag tag-{{ entry.type.name|lower }}">
							<span title="{{ entry.type }}">{{ type }}</span>
						</div>
					</div>
				</article>

			{% endfor %}
		{% else %}
			<p>Sorry, your search for “{{ query }}” didn’t return any results.</p>
		{% endif %}
	{% else %}
		<p>Sorry, your search didn't return any results.</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<section class="widget search-bar">
		<h1>Search</h1>
		<form class="search" action="{{ url('search/results') }}">
			<label for="search">
				<div class="row collapse">
					<div class="small-10 columns">
						<input type="search" name="q" placeholder="Search" value="{{craft.request.getParam('q')}}">
					</div>
					<div class="small-2 columns">
						<input type="submit" class="button postfix" value="Go">
					</div>
				</div>
			</label>
		</form>
	</section>
{% endblock %}